body {background-color:;
  text-align:right; 
}
hr{
    color:red;
}
.intro{text-align:center;
    color:black;
    height:500px;
}

.hee{

  background-color:;
 
}
.hi{
text-align:center;
background-color:snow;
    border-style:;
}
